@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&family=Source+Sans+3:wght@200;400;600;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Source Sans 3', sans-serif;
}

.bold {
    font-weight: 900;
}


.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
}

.banner1 {
    background-image: url(../Assets/lg-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.cadText{
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.cadBox {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 80vh;
    background: rgb(22,53,110);
    background: linear-gradient(180deg, rgb(22, 53, 110) 0%, rgba(0,74,173,0.700717787114846) 100%);
    border-radius: 5%;
    top: 90vh;
    left: 70vw;
    position: absolute;
    align-items: center;
}

.logo {
    width: 12vw;
    margin-top: 1vw;
}

.camposCad {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    color: white;
    font-size: 1vw;
    font-weight: 100;
    justify-content: center;
    align-items: left;
}


#nome, #email, #numero, #regiao {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    padding: 0.5vw;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 0.8vw;
}

.dados {
    font-weight: 400;
}

.btn {
    width: 18vw;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.btn > a > button {
    background: rgb(29,58,111);
    background: linear-gradient(180deg, rgba(29,58,111,1) 33%, rgba(42,82,149,1) 54%);
    border: none;
    color: white;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
    border-radius: 15px;
    font-weight: 100;
    cursor: pointer;
}

.textPad {
    width: 55vw;
    margin: 10vw 5vw 10vw 5vw;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

.cards {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.cards-reverse {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardText {
    width: 35vw;
    font-size: 1.3vw;
}

.finalText {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: ce;
    font-size: 1.5vw;
}

.textp {
    width: 75vw;
}


.perso {
    width: 100vw;
    text-align: center;
}

.perso > h1 {
    font-weight: 100;
    font-size: 3vw;
    color: #2a5295;
}

.persos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}