@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,900&family=Source+Sans+3:wght@200;400;600;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Source Sans 3', sans-serif;
}

.bold {
    font-weight: 900;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner1 {
    background-image: url(/Assets/lg-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100%;
    justify-content: right;
    align-items: baseline;
    display: flex;
    
}

.cadBox {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 80vh;
    background: rgb(22,53,110);
    background: linear-gradient(180deg, rgba(22,53,110,1) 0%, rgba(0,74,173,0.700717787114846) 38%);
    border-radius: 5%;
    top: 90vh;
    right: 5vw;
    position: relative;
    align-items: center;
}

.logo {
    width: 12vw;
    margin-top: 1vw;
}

.camposCad {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    color: white;
    font-size: 1vw;
    font-weight: 100;
}

#nome, #email, #numero, #regiao {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50px;
    padding: 0.5vw;
    color: white;
}

input::placeholder {
    color: white;
    font-size: 0.8vw;
}

.dados {
    font-weight: 400;
}